*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
    font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Mono", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Consolas", "Courier New", monospace;
    font-size: 100%;    
    accent-color: #00affe;
    --color-default: rgb(225 225 225);
    --width-linenumber: 1.25rem;
}

*::-moz-selection {
  color: white;
  background: #fe00af;
}

*::selection {
  color: white;
  background: #fe00af;
}

body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  background-color: #16161d;
  color: var(--color-default);
}

a,
a:hover,
a:focus,
a:active {
  color: var(--color-default);
  text-decoration: none;
}

.wrapper

.lines {
    display: grid;
    grid-template-columns: var(--width-linenumber) 1fr;
    column-gap: 1rem;
    text-wrap: nowrap;
    padding-inline: .5rem;
}

.linenumber {
    min-width: var(--width-linenumber);
    text-align: right;
    opacity: .3;
    /* padding-inline-end: .5rem; */
}

.linecontent {
  padding-inline-end: .5rem;
}

.annex {
  font-style: italic;
  opacity: .6;
}

.annex__bluesky {
  color: #00feaf;
}

.comment {
    opacity: .6;
}

.user-agent,
.disallow {
    color: mediumorchid;
}

.disallow {
    
}
